{% extends 'base.html' %}
{% block content %}<h2>Absen siswa</h2>
<form method="POST" action=".">{% csrf_token %}
	<table id="list" border="0" align="center" width="100%" cellspacing="5" cellpadding="5">
	<tr>
		<th width='100px'>NIS</th>
		<th width='200px'>NAMA</th>
		<th width='76px'>ABSEN</th>
		<th width='200px'>KETERANGAN</th>
	</tr>
	{% for object in siswa %}
	<tr>
		<td align="center">0{{object.nis}}</td>
		<td align="left">{{object.nama}}</td>
		<input id="id_siswa" name="siswa" type="hidden" value={{object.id}} />
		<input id="id_mapel" name="mapel" type="hidden" value={{ users.guru.id }} />
		<input id="id_tanggal" name="tanggal" type="hidden" value={% now "Y-m-d" %} />
		<td align="center">{{ form.absen }}</td>
		<td align="left">{{ form.keterangan|ljust:"70" }}</td>
	</tr>
	{% endfor %}
	<tr>
		<td colspan="4" align="right"><input type=submit value='Simpan'></td>
	</tr>
	</table>
</form>
{% endblock %}