<!-- Level 1
<select>
!<-- for val in top>
  <option value="val">val</option>
!<-- endfor>
</select>
Level 2
<select>
!<-- for val in ou where there is top>
  <option value="val">val</option>
!<-- endfor>
</select>
Level 3
<select>
!<-- for val in uid where there is ou>
  <option value="val">val</option>
!<-- endfor>
</select>
Level 4

{% for objects in result %}
{{ objects }}
{% endfor %}
</br></br>

{% for objects in dn %}
{{ objects }}
{% endfor %}
-->
<br/><br/>
qwe{{dn.1}}
</br></br>
{% for objects in dncontent %}
{{ objects }}<br/>
{% endfor %}
<br/>
<br/>
{{dn1}}

<p>
[(
'uid=john,ou=People,dc=fauzi,dc=com', 
{'displayName': ['John Doe'], 
'cn': ['John Doe'], 
'objectClass': ['inetOrgPerson', 
'posixAccount', 'shadowAccount'], 
'loginShell': ['/bin/bash'], 
'uidNumber': ['10000'], 
'gidNumber': ['5000'], 
'gecos': ['John Doe'], 
'sn': ['Doe'], 
'homeDirectory': ['/home/john'], 
'givenName': ['John'], 
'uid': ['john']}

)]
</p>
