<html>
<head>
<title>Crud of Blog</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<script src="/static/js/jquery.js?{% now "s" %}" type="text/javascript"></script>
{% block extrahead %}{% endblock %}
</head>
<body>
<!-- start header -->
<!-- end header -->
	<div id='header'>
		<div id="headline">
			<div class="right">
				<ul>
					{% if user.is_authenticated %}
						<li>{% now "d.m.Y" %}</li>
						<li>{{ user.username }}</li>
						<li><a href="/accounts/password/change/" title="Ganti Password"><small>Ganti password</small></a></li>
						<li><a href="/accounts/logout/">logout</a></li>
					{% else %}
						<li><a href="/accounts/login/">Login</a></li>
					{% endif %}
				</ul>
			</div>
			<div class='left'>
				<ul>
					<li><a href = "/">Home</a></li>
					<li><a href = "newpost">New Post</a></li>
					<li><a href = "viewpost">View Post</a></li>
				</ul>
			</div>
		</div>
		<div id='web-title'>
			<h1>My Blog</h1>
			<span class='title'>Crud Blog</span>
		</div>
	</div>
	<!-- start page -->
		<!-- start content -->
		<div id='holder'>
			<div id='col1'>
				<div class='content'>
					<div class='remark'>{% block extra %}{% endblock %}</div>
					{% block content %}{% endblock %}
				</div>
			</div>
			<div id='footer'>
				My Blog. 2013. Powered by Django<br/> Created by Fauzi Tsani
			</div>
		</div>
		<!-- end content -->
		<!-- start sidebars -->
			
		<!-- end sidebars -->
	<!-- end page -->
</body>
</html>