{% extends 'base.html' %}
{% block extrahead %}

<link type="text/css" href="/static/js/jquery-ui-1.7.1.custom.css" rel="Stylesheet" />
<script src="/static/js/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function(){
    $("#id_tanggal").datepicker({dateFormat: 'yy-mm-dd'});
});
</script>
{% endblock %}
{% block extra%}
	<form method="POST" action=".">
		{% csrf_token %}
		{{form.tanggal}} 
		<input type=submit value='Filter'>
	</form>
{% endblock%}

{% block content %}<h2>Data Siswa</h2>
<div id="absen">
	{% if kelas == '10a' %}<a href="/absensi/10a/">ABSENSI 10 A</a><br/>{% endif %}
	{% if kelas == '10b' %}<a href="/absensi/10b/">ABSENSI 10 B</a><br/>{% endif %}
	{% if kelas == '10c' %}<a href="/absensi/10c/">ABSENSI 10 C</a><br/>{% endif %}
	{% if kelas == '10d' %}<a href="/absensi/10d/">ABSENSI 10 D</a><br/>{% endif %}
	{% if kelas == '10e' %}<a href="/absensi/10e/">ABSENSI 10 E</a><br/>{% endif %}
	{% if kelas == '10f' %}<a href="/absensi/10g/">ABSENSI 10 F</a><br/>{% endif %}
	{% if kelas == '10g' %}<a href="/absensi/10g/">ABSENSI 10 G</a><br/>{% endif %}
	{% if kelas == '10h' %}<a href="/absensi/10h/">ABSENSI 10 H</a><br/>{% endif %}
	{% if kelas == '10i' %}<a href="/absensi/10i/">ABSENSI 10 I</a><br/>{% endif %}
	{% if kelas == '10j' %}<a href="/absensi/10j/">ABSENSI 10 J</a><br/>{% endif %}
	{% if kelas == '10k' %}<a href="/absensi/10k/">ABSENSI 10 K</a><br/>{% endif %}
	{% if kelas == '10l' %}<a href="/absensi/10l/">ABSENSI 10 L</a><br/>{% endif %}
	{% if kelas == '10m' %}<a href="/absensi/10m/">ABSENSI 10 M</a><br/>{% endif %}
	{% if kelas == '10n' %}<a href="/absensi/10n/">ABSENSI 10 N</a><br/>{% endif %}
	{% if kelas == '10o' %}<a href="/absensi/10o/">ABSENSI 10 O</a><br/>{% endif %}
	{% if kelas == '10p' %}<a href="/absensi/10p/">ABSENSI 10 P</a><br/>{% endif %}

	{% if kelas == '11a' %}<a href="/absensi/11a/">ABSENSI 11 A</a><br/>{% endif %}
	{% if kelas == '11b' %}<a href="/absensi/11b/">ABSENSI 11 B</a><br/>{% endif %}
	{% if kelas == '11c' %}<a href="/absensi/11c/">ABSENSI 11 C</a><br/>{% endif %}
	{% if kelas == '11d' %}<a href="/absensi/11d/">ABSENSI 11 D</a><br/>{% endif %}
	{% if kelas == '11e' %}<a href="/absensi/11e/">ABSENSI 11 E</a><br/>{% endif %}
	{% if kelas == '11f' %}<a href="/absensi/11g/">ABSENSI 11 F</a><br/>{% endif %}
	{% if kelas == '11g' %}<a href="/absensi/11g/">ABSENSI 11 G</a><br/>{% endif %}
	{% if kelas == '11h' %}<a href="/absensi/11h/">ABSENSI 11 H</a><br/>{% endif %}
	{% if kelas == '11i' %}<a href="/absensi/11i/">ABSENSI 11 I</a><br/>{% endif %}
	{% if kelas == '11j' %}<a href="/absensi/11j/">ABSENSI 11 J</a><br/>{% endif %}
	{% if kelas == '11k' %}<a href="/absensi/11k/">ABSENSI 11 K</a><br/>{% endif %}
	{% if kelas == '11l' %}<a href="/absensi/11l/">ABSENSI 11 L</a><br/>{% endif %}
	{% if kelas == '11m' %}<a href="/absensi/11m/">ABSENSI 11 M</a><br/>{% endif %}
	{% if kelas == '11n' %}<a href="/absensi/11n/">ABSENSI 11 N</a><br/>{% endif %}
	{% if kelas == '11o' %}<a href="/absensi/11o/">ABSENSI 11 O</a><br/>{% endif %}
	{% if kelas == '11p' %}<a href="/absensi/11p/">ABSENSI 11 P</a><br/>{% endif %}
	{% if kelas == '11q' %}<a href="/absensi/11q/">ABSENSI 11 Q</a><br/>{% endif %}
	{% if kelas == '11r' %}<a href="/absensi/11r/">ABSENSI 11 R</a><br/>{% endif %}

	{% if kelas == '12a' %}<a href="/absensi/12a/">ABSENSI 12 A</a><br/>{% endif %}
	{% if kelas == '12b' %}<a href="/absensi/12b/">ABSENSI 12 B</a><br/>{% endif %}
	{% if kelas == '12c' %}<a href="/absensi/12c/">ABSENSI 12 C</a><br/>{% endif %}
	{% if kelas == '12d' %}<a href="/absensi/12d/">ABSENSI 12 D</a><br/>{% endif %}
	{% if kelas == '12e' %}<a href="/absensi/12e/">ABSENSI 12 E</a><br/>{% endif %}
	{% if kelas == '12f' %}<a href="/absensi/12g/">ABSENSI 12 F</a><br/>{% endif %}
	{% if kelas == '12g' %}<a href="/absensi/12g/">ABSENSI 12 G</a><br/>{% endif %}
	{% if kelas == '12h' %}<a href="/absensi/12h/">ABSENSI 12 H</a><br/>{% endif %}
	{% if kelas == '12i' %}<a href="/absensi/12i/">ABSENSI 12 I</a><br/>{% endif %}
	{% if kelas == '12j' %}<a href="/absensi/12j/">ABSENSI 12 J</a><br/>{% endif %}
	{% if kelas == '12k' %}<a href="/absensi/12k/">ABSENSI 12 K</a><br/>{% endif %}
	{% if kelas == '12l' %}<a href="/absensi/12l/">ABSENSI 12 L</a><br/>{% endif %}
	{% if kelas == '12m' %}<a href="/absensi/12m/">ABSENSI 12 M</a><br/>{% endif %}

	{% if kelas == '13a' %}<a href="/absensi/13a/">ABSENSI 13 A</a><br/>{% endif %}
	{% if kelas == '13b' %}<a href="/absensi/13b/">ABSENSI 13 B</a><br/>{% endif %}
	{% if kelas == '13c' %}<a href="/absensi/13c/">ABSENSI 13 C</a><br/>{% endif %}
	{% if kelas == '13d' %}<a href="/absensi/13d/">ABSENSI 13 D</a><br/>{% endif %}
</div>
	<table id="list" border="0" align="center" style="float: left;" cellspacing="5" cellpadding="5" width="100%">
	<tr rowspan="2">
		<th>NIS</th>
		<th>NAMA</th>
		<th>KELAS</th>
		<th>JK</th>
	</tr>
	{% for object in siswa %}
	<tr>
		<td width='100px' align="center">0{{ object.nis }}</td>
		<td width='220px'><a href="/siswa/{{ object.id }}">{{ object.nama|upper }}</a></td>
		<td width='50px' align="center">{{ object.kelas }}-{{ object.kelas2 }}</td>
		<td width='20px' align="center">{{ object.jenkel }}</td>

		{% for objects in absen %}
		{% if objects.siswa.id == object.id %}
		<td align="center">
			{% if objects.absen == 'A' %}<font color="red">ALFA</font>{% endif %}
			{% if objects.absen == 'S' %}<font color="blue">SAKIT</font>{% endif %}
			{% if objects.absen == 'I' %}<font color="grey">IZIN</font>{% endif %}
			{% if objects.absen == 'H' %}<font color="green">HADIR</font>{% endif %}
		</td>
		<td align="center">{{ objects.mapel.mapel }}</td>
		{% endif %}
		{% endfor %}
	{% endfor %}
	</tr>	
	</table>
{% endblock %}